body{
    background-color: #FEF5ED;
}
.spinner-custom{
    
    color: #35858B !important
    
}
.spinner-center{
    display: flex;
    justify-content: center;
    height: 700px;
    align-items: center;
}